<section>
  <aside>
    <div class="logo" routerLink="/">
      <img src='/assets/ichain.png'>
      <hr>
    </div>
    <div class="sidebar-caption">
      What would you like to learn today?
    </div>
    <div class="sidebar-categories">
      <span>Design</span>
      <span>Web development</span>
      <span>Productivity</span>
      <span>Health</span>
      <span>Math</span>
      <span>Philosophy</span>
    </div>
  </aside>

  <main>
    <header>
      <div class="category" *ngIf="!toggleSearch">
        <div class="caption">
          Chosen category:
        </div>
        <div class="category-name">
          JavaScript
          <svg-icon [svgStyle]="{ fill: 'white' }" src="/assets/icons/close-icon.svg"></svg-icon>
        </div>
      </div>
      <div class="input" *ngIf="toggleSearch">
        <search-input></search-input>
      </div>
      <div class="searchButton" (click)="toggle()">
        <icon-button *ngIf="!toggleSearch" iconUrl="/assets/icons/search-icon.svg"></icon-button>
        <icon-button *ngIf="toggleSearch" backgroundColor="#333333" iconColor="#000000" iconUrl="/assets/icons/close-icon.svg"></icon-button>
      </div>
    </header>

    <section class="topic-description" *ngIf="description">
      JavaScript is a programming language that allows you to implement complex things on web pages. Every time a web page does more than just sit there and display static information for you to look at—displaying timely content updates, interactive maps, animated 2D/3D graphics, scrolling video jukeboxes, or more—you can bet that JavaScript is probably involved. The job site Indeed lists over 23,000 full-time positions for JavaScript Developer, all with salary estimates above $75,000 per year. In addition, there are over 38,000 open positions for Web Developers and over 7,000 for Front End Web Developers. It’s fair to say that strong JavaScript skills and experience can lead to a lucrative and secure job with a great company.
      <br>
      <br>
      <a href="https://freecodecamp.org" target="_blank">freecodecamp.org</a> <br>
      <a href="https://codecademy.com" target="_blank">codecademy.com</a> <br>
      <a href="https://developer.mozilla.org" target="_blank">developer.mozilla.org</a>
    </section>

    <span class="related" *ngIf="description">Related topics</span>

    <nav>
      <span class="navbar-chosen">All</span>
      <span>Addons</span>
      <span>Extensions</span>
      <span>Replacements</span>
      <span>Simplification</span>
    </nav>

    <section class="topic-grid">
      <topic-grid [topics]='topics'></topic-grid>
    </section>
  </main>
</section>
