<div class="test">
  <div class="sidebar">
    <div class="logo">
      <img src="https://placeimg.com/200/90/any">
      <hr>
    </div>
    <div class="sidebar-caption">
      What would you like to learn today?
    </div>
    <div class="sidebar-categories">
      <span>Design</span>
      <span class="sidebar-chosen">Web development</span>
      <span>Productivity</span>
      <span>Health</span>
      <span>Math</span>
      <span>Philosophy</span>
    </div>
  </div>
  <div class="main-block">
    <div class="header">
      <div class="category">
        <div class="caption">
          Chosen category:
        </div>
        <div class="category-name">
          Web development
          <svg-icon src="/assets/icons/close.svg"></svg-icon>
        </div>
      </div>
      <div class="search">
        <img src="https://placeimg.com/60/60/any">
      </div>
    </div>
    <div class="navbar">
      <span class="navbar-chosen">All</span>
      <span>Addons</span>
      <span>Extensions</span>
      <span>Replacements</span>
      <span>Simplification</span>
    </div>
  </div>
</div>
