:host {
  display: inline-block;
}

.topic-card {
  border-radius: 25px;
  box-sizing: border-box;
  padding: 20px;
  width: 250px;

  &__info {
    margin-bottom: 75px;
  }

  &__title {
    margin: 0;
  }
}
