<div class='home__container'>
  <header>
      <img src='/assets/ichain.png' />
      <div class='home__promo'>
        <h1 class='headline1'>Spend your time wisely.<br>Learn something.</h1>
        <h2 class='headline2 home__subtitle'>Choose an article and start learning<br>right away.</h2>
      </div>
  </header>
</div>
<div class="topic-feed">
  <div class="scroll row">
    <topic-card *ngFor="let topic of topics"
                [topic]="topic"></topic-card>
  </div>
</div>
<div class="home__container">
  <div class='home__topic' style="margin-bottom: 20px">
    <h2 class='subtitle home__subtitle'>Or browse our variety of topics and<br>find what you like.</h2>
    <button btn-component routerLink="/topics">Browse topics</button>
  </div>
</div>

<footer>
    <div class='home__footer'>
      <search-input></search-input>
    </div>
</footer>

