:host {
  display: block;
  min-height: 100vh;
}

.home__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 80px;
}

header {
  img {
    height: 70px;
  }
}

footer {
  background-color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 80px;
  width: 100%;

  .home__footer {
    background-color: black;
    max-width: 840px;
    width: 95%;
  }
}

.home__subtitle {
  color: rgba(255, 255, 255, 0.6);
  margin: 43px 0;
}

.topic-feed {
  overflow-x: hidden;
  overflow-y: hidden;

  .scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: #f46286 #222;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      background: #222;
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background: #f46286 !important;
      border-radius: 8px;
    }

    > * {
      &:first-child {
        margin-left: 80px;
      }
      &:last-child {
        padding-right: 80px;
      }
    }
  }
}

topic-card {
  margin-right: 20px;
}
